#SECTION9 {
  position: relative;
  width: 100%;
  height: 400px;
  background: #f26347;
  top: 236px;
}

#elm_37 {
  height: 51px;
  width: 960px;
  position: relative;
  background-color: transparent;
  top: 15px;
  z-index: 32;
  letter-spacing: normal;
  left: 487px;
}
#elm_37_headline {
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  font-style: normal;
}
#elm_38 {
  height: 31px;
  width: 960px;
  position: relative;
  background-color: transparent;
  top: 2px;
  left: 577px;
  letter-spacing: 1px;
}
#elm_38_headline {
  color: #ffffff;
  font-size: 30px;
}
.button-section9 {
  width: 195px;
  height: 50px;
  background: #f26347;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;

  transition: 0.5s;
  transition-property: background;
}
.content_section9 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.button-section9:hover {
  background: black;
  border: none;
}
.content_section9 img {
  margin-left: 25px;
  transform: translateX(-10px);
}
.text-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.text-footer div {
  width: 960px;
  transform: translate(294px, 100px);
  color: white;
}
.text-footer div span {
  padding-left: 10px;
}
.footer {
  width: 100%;
  position: fixed;
  height: 20px;
  background: black;
  top: 273px;
  color: white;
  text-align: center;
  transform: translateY(610px);
  z-index: 10000;
}
