#SECTION7 {
  background: #eeede9;
  position: relative;
  width: 100%;
  height: 590px;
  top: 275px;
}
.user-image {
  transform: translateY(-56px);
}
.wrap-detail-section7 {
  display: flex;

  width: 300px;
  height: 300px;
  background: #f9f8f6;
  margin-left: 30px;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.content7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-32px);
}
.title-section7 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  transform: translateY(8px);
}
.department {
  font-size: 14px;
  padding-top: 10px;
}
.border7 {
  border-bottom: 0.5px solid #e8e5e1;
  width: 247px;
  transform: translateY(20px);
  margin-bottom: 38px;
}
.text-content7 {
  text-align: center;
  font-size: 14px;
  color: rgb(142, 131, 134);
  padding-left: 10px;
  padding-right: 10px;
}
