body {
  margin-bottom: 0px !important;
  background-color: rgb(233, 234, 236);
  background-image: url(https://1503641826.rsc.cdn77.org/Media/lrjqygjegrirabrelotklschd_usermedia.jpg);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: normal;
  letter-spacing: normal;
}
