#SECTION1 {
  display: block;
  position: absolute;
  width: 100%;
  height: 500px;
  margin: auto;
  background-color: #ffffff;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(https://1503641826.rsc.cdn77.org/Media/tlbvpeyhgxrkqiqodxbojmbwp_usermedia.jpg);
  border-style: solid;
  border-color: black;
  border-width: 0px;
  z-index: -1;
}
